# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python.
2. SQL.
3. R.
4. Java.
5. Scala.

Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.
6. Scikit-Learn.

| Data Science Tools     | 
| ---------------------- |
| RapidMiner             | 
| Apache Spark           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers 
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print("The hours in 200 mintues are:", hours)

The hours in 200 mintues are: 3.3333333333333335

**Objectives:**
- Understand basic arithmetic operations in programming.
- Learn how to create and execute code cells in a programming environment.
- Explore common syntax errors and how to fix them.
- Gain familiarity with commenting in code for better readability.
- Use Markdown cells to add documentation and structure to a notebook.

## Author 
Aqsa iftikhar